html {
    background-color: orange;
    color: darkblue;
    text-align: center;
    font-family: "Arial Black", sans-serif;
}
ul {
    list-style: none;
}
a {
    color: black;
}
h1 {
    color: aliceblue;
    background-color: crimson;
    font-family: "Calibri Light", sans-serif;
}
h2 {
    color: blueviolet;
}
.menu a, .menu {
    background-color: blue;
    color: white;
}
.titre {
    color: yellow;
    background-color: darkorchid;
    border: solid 1rem black;
}
