html {
    background-color: orange;
    color: darkblue;
    text-align: center;
}
a {
    color: black;
}
h1 {
    color: aliceblue;
    background-color: crimson;
}
h2 {
    color: blueviolet;
}
.menu a, .menu {
    background-color: blue;
    color: white;
}
.sous-titre {
    color: yellow;
    background-color: darkorchid;
}